<div class='card'>
  {{#with navigation}}
    <div class='nav'>
      {{#each links}}
        <div class='nav-item'>
          <a href='{{href}}' class='nav-link'>{{text}}</a>
        </div>
      {{/each}}
    </div>
  {{/with}}
</div>